<div>
    <h2>Import JSON data into Foundry VTT</h2>
    <p>
        You're one step closer to importing your D&D Beyond content into Foundry!<br/>
        Click one of the following buttons to proceed:
    </p>

    <!-- Import buttons -->
    <div class="form-section">
        <div class="form-description">
            <button type="button" id="import-items-start" class="import-button">Import items</button>
            <button type="button" id="import-spells-start" class="import-button">Import spells</button>
            <button type="button" id="import-monsters-start" class="import-button">Import monsters</button>
        </div>
    </div>
    <hr/>

    <p>
        DANGER ZONE: Use these options to reset the module in the case of unexpected behaviour.
    </p>

    <!-- Deletion buttons -->
    <div class="form-section">
        <div class="form-description">
            <button type="button" id="clear-items" class="import-button">Delete items compendium</button>
            <button type="button" id="clear-spells" class="import-button">Delete spells compendium</button>
            <button type="button" id="clear-monsters" class="import-button">Delete monsters compendium</button>
            <button type="button" id="clear-all" class="import-button">Delete all compendium</button>
        </div>
    </div>

</div>